:root {
    --Grayishblue: hsl(237, 18%, 59%);
    --Softred: hsl(345, 95%, 68%);

    --White: hsl(0, 0%, 100%);
    --DarkDesaturatedBlue: hsl(236, 21%, 26%);
    --VeryDarkBlue: hsl(235, 16%, 14%);
    --VeryDarkerBlue: hsl(234, 17%, 12%);
}
*, 
*::before,
*::after {
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: 'Red Hat Text', sans-serif;
    background: var(--VeryDarkBlue);
    background-image: url('./images/bg-stars.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    line-height: 1.2;
}
main{
    width: 90%;
    padding: 4em 0;
    margin-bottom: 2em;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    
}
li {
    text-align: center;
}
.title {
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--White);
    padding: 0 2em;
    
}
.hills {
    position: absolute;
    right: -3em;
    bottom: 0;
    width: 280%;
    z-index: -1;
}
.squares {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

.square{
    height: 5em;
    width: 5em;
    background: url('./images/square.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: -4px;
}
.square h2 {
    text-align: center;
    color: var(--Softred);
    font-size: 2.3rem;
    margin-top: .5em;
    opacity: 0.95;
}
.countdown p {
    text-transform: uppercase;
    color: var(--Grayishblue);
    font-size: .5rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}

footer{
    padding: 0 6em;
}
.socials {
    margin-bottom: 3em;
}
.socials button {
    background: transparent;
    border: none;
    cursor: pointer;
}
.socials button:hover svg path{
    fill: var(--Softred);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--White);
  }
.attribution a {
    color: var(--Grayishblue);
    text-decoration: none;
}

@media (min-width: 600px) {
    body {
        padding: 4em 0 1em;
    }
    main {
        margin-bottom: 0;
    }
    .countdown {
        width: 400px;
        margin: 4em auto 0;
    }
    .title {
        padding: 0;
    }
    .socials {
        width: 150px;
        margin: 0 auto 3em;
    }
    .hills {
        margin-bottom: 0;
        width: 150%;
        right: -7em;
    }
    /* footer {
        border: 1px solid blue;
    } */
}